	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/home">
		<img class="rounded" src="../resources/img/drinksta.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/search">Drink</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/add-drink">Add Drink</a>
		  </li>
		<% if(username){
	  		var txt = '<li class="nav-item">';
	  		txt += '<a class="nav-link" href="/account">';
	  		txt += username;
	  		txt += '</a>';
	  		txt += '</li>'; %>
	  		<%- txt %>
	  		</ul>
	  		<div class="form-inline my-2 my-lg-0">
				<a class="btn btn-outline-light my-2 my-sm-0" href='/logout'>Log Out</a>
			</div>
		<%}%>
		<% if(!username) {%>
			</ul>
			<div class="form-inline my-2 my-lg-0">
				<a class="btn btn-outline-light my-2 my-sm-0" href='/login'>Log In</a>
			</div>
		<%}%>
	  </div>
	</nav>