<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div style="background:#CD853F" class="jumbotron">
  	<h1 class="text-center">DRINKSTA</h1>      
  </div>
  </head>
  <body style="background:#FFEBCD">
  	<div class="row" style="padding-bottom:10px">
    <img src="pic_test1.jpg" class="img-rounded col-sm-6" height="300" alt="Cinque Terre">
    <img src="pic_test2.jpg" align="right" class="img-rounded col-sm-6 " height ="300" alt="Cinque Terre">
	</div>
    <div class="row">
	  <button type="button" class="btn btn-outline-secondary col" >Home</button>
	  <button type="button" class="btn btn-outline-secondary col">Friends</button>
	  <button type="button" class="btn btn-outline-secondary col">Rewards</button>
	  <button type="button" class="btn btn-outline-secondary col">Favorites</button>
    </div>
    <p><br></p>
     <div class="row">
	   <div class="form-group offset-sm-3 col-sm-4">
    <label for="inputPassword2" class="sr-only"></label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Lets Drink!">
  	   </div>

  <button type="submit" class="btn btn-secondary col-sm-2">Drink!</button>
    </div>
    <p>Sample Text<br>#<br>#<br>#<br>#<br>#<br>#<br>#<br>#<br>End Sample Text</p>	
<footer class="page-footer font-small" style="background:#CD853F">

<div class="footer-copyright text-center py-3">© 2018 Copyright: Drinksta Dudes</div>
</footer>
  </body>
</html>
