<% include ./partials/header %>
<% include ./partials/menu %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='shortcut icon' href='https://drinksta.herokuapp.com/resources/img/drinksta.jpg' type='image/x-icon'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- Custom styles for this template -->
      
    <link href="../resources/css/home_page.css" rel="stylesheet">
  </head>
  <body onload="viewSearch('Drink_Div', 1);viewSearch('Ingredient_Div', 0);viewSearch('User_Div', 0);">
    
    <div class="text-center no-padding" style="padding-top: 10px" >
      <img src="../resources/img/homepage_1.jpg" class="img-fluid rounded" align="center" alt="Cinque Terre">
    </div>

    <div class="jumbotron no no-padding" style="background:#424949;">
      <h1 class="text-center" >DRINKSTA</h1>  
      <p><br></p>
      <div class="row offset-sm-3">
        <fieldset class="form-group">
        
          <legend>Search Options</legend>

          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" onclick="viewSearch('Drink_Div', 1);viewSearch('Ingredient_Div', 0);viewSearch('User_Div', 0);"id="optionsRadios1" value="option1" checked>
                Drinks
            </label>
          </div>

          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" onclick="viewSearch('Drink_Div', 0);viewSearch('Ingredient_Div', 1);viewSearch('User_Div', 0);" id="optionsRadios2" value="option2">
              Ingredients
            </label>
          </div>

          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" onclick="viewSearch('Drink_Div', 0);viewSearch('Ingredient_Div', 0);viewSearch('User_Div', 1);" id="optionsRadios3" value="option3" >
              Users
            </label>
          </div>

        </fieldset>
      </div>
    </div>
</div>
<!-- FORM FOR SEARCHING DRINKS-->
<form action="/search/get_drink" method="get">
    
  <div class="row"  id="Drink_Div">
    <div class="form-group offset-sm-3 col-sm-4">
      <input type="text" class="form-control form-control-lg" id="Drink_Form" placeholder="Lets Drink!" name="drinkname">
    </div>
    <input type="submit" value="Drink!" class="h-100 btn-lg btn-secondary col-sm-2" id="drinkSearchButton"  >
  </div>
</form> 
<form action="/home/get_ingredient" method="get">
    <div class="row" id="Ingredient_Div">
      <div class="form-group offset-sm-3 col-sm-4">
        <input type="text" class="form-control form-control-lg" id="Ingredient_Form" placeholder="Find an Ingredient" name="ingredientname">
    </div>

  <input type="submit" value="Drink!" class="h-100 btn-lg btn-secondary col-sm-2" id="drinkSearchButton" onclick="viewSearch('Ingredient_Card', 1)">
    </div>
  </form>

    <div class="row"  id="User_Div">
      <div class="form-group offset-sm-3 col-sm-4">
        <input type="text" class="form-control form-control-lg" id="User_Form" placeholder="Search for a person.">
      </div>

  <input type="submit" value="Drink!" class="h-100 btn-lg btn-secondary col-sm-2" id="drinkSearchButton" onclick="viewSearch('Ingredient_Card', 0)">
    </div>
    <!-- 
       BELOW CARD IF SEARCHING FOR Ingredients
    -->
    <%
      if (drink)
      {
    %>
    <div class="card text-white bg-dark mb-3" id="Ingredient_Card">
      <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="card text-white bg-dark mb-3">
               
              
                <img class="card-img-top rounded" id="drink_img" src="" alt="A picture of drink">
              </div>
            </div>
            <div class="col-8">
              <div class="card text-white bg-dark mb-3">
                <div class="card-header"></div>
                <div class="card-body">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Ingredients:</th>
                      </tr>
                    </thead>
                    
                  </table>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <%}%>
      <!-- 
        ABOVE CARD IF SEARCHING FOR DRINKS
    -->
    <h3 align="center">Instead of drunk texting your ex, DRINKSTA.</h3>
    <h3 align="center">Find, Create, Mix, Drink<br><br></h3> 

    <footer class="page-footer font-small" >
      <div style="color:grey"class="footer-copyright text-center py-3">© 2018 Copyright: Drinksta Dudes</div>
    </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="../resources/js/my_scripts.js"></script>
  </body>
</html>