
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    
  <link href="../resources/css/home_page.css" rel="stylesheet">

  </head>
  <body >
    <a type="button" href="" class="btn btn-primary  col-sm-1" >Login</a>
    <a type="button" href="register"class="btn btn-primary  col-sm-1" >Sign Up</a>
  	<div class="text-center no-padding" style="padding-top: 10px" >
    <img src="../resources/img/homepage_1.jpg" class="img-fluid rounded"align="center" alt="Cinque Terre">
	</div>
  <div class="jumbotron no no-padding" style="background:#424949;">
    <h1 class="text-center" >DRINKSTA</h1>      
  </div>
	  <a type="button" href="#" class="btn btn-outline-secondary  col-sm-2 offset-sm-2 text-white" >Home</a>
	  <a type="button" href="#" class="btn btn-outline-secondary col-sm-2 text-white">Friends</a>
	  <a type="button" href="#" class="btn btn-outline-secondary col-sm-2 text-white">Rewards</a>
	  <a type="button" href="#" class= "btn btn-outline-secondary col-sm-2 text-white">Favorites</a>
    </div>
    <p><br></p>
     <div class="row" >
	   <div class="form-group offset-sm-3 col-sm-4">
    
    <input type="text" class="form-control form-control-lg" id="inputPassword2" placeholder="Lets Drink!">
  	   </div>

  <button type="submit" class="h-100 btn-lg btn-secondary col-sm-2">Drink!</button>
    </div>
    <h3 align="center">Instead of drunk texting your ex, DRINKSTA.</h3>
    <h3 align="center">Find, Create, Mix, Drink<br><br></h3>	
<footer class="page-footer font-small" >

<div style="color:grey"class="footer-copyright text-center py-3">© 2018 Copyright: Drinksta Dudes</div>
</footer>
  </body>
</html>
