
<% include ./partials/header %>
<% include ./partials/menu %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Login Page</title>
	
	<link rel='icon' href='https://drinksta.herokuapp.com/resources/img/drinksta.jpg' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    
    <!-- Custom styles for this template -->
    <link href="../resources/css/signin.css" rel="stylesheet">
	<link href="../resources/css/my_style.css" rel="stylesheet">
	
  </head>

  <body class="center text-center" style="background-color: #424949">
    <% if(message == 'error'){ %>
	  	<div class="alert alert-danger">
  			<strong>Error!</strong> Username doesn't exist.
		</div>
	<%}%>
	<% if(message == 'success'){ %>
	  	<div class="alert alert-success">
  			<strong>Success!</strong> Logged In.
		</div>
	<%}%>
	<% if(message == 'warning'){ %>
	  	<div class="alert alert-danger">
  			<strong>Oops!</strong> Incorrect password or username.
		</div>
	<%}%>
    <form class="form-signin" action="/submit" method="get">
	  <img class="img-fluid rounded" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681" alt="" >
	  <h1 class="h3 mb-3 font-weight-normal" style="color:white">Drinksta Sign In</h1>
	  <label for="inputUsername" class="sr-only">Username</label>
	  <input type="text" id="inputUsername" name="name" class="form-control" placeholder="Username" required autofocus>
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" id="inputPassword" name="pwd" class="form-control" placeholder="Password" required>
	  <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
	  <a class="btn btn-lg btn-primary" href="register">Register</a>
	</form>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
