
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Drink Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body onload="loadPlayersPage()">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/drinksta.jpg" alt="CU Boulder Logo" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		 <li class="nav-item">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="example_drinkpage.html">Drink Lookup</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" href="login.html">Log In</button>
		</div>
	  </div>
	</nav>

	<div class="container">
		<p>
			<h1 class="h3 mb-3 font-weight-normal">Drink Lookup</h1>
			<input type="text" id="drinkSearch" class="form-control" autofocus>
			<input type="submit" value="Search" class="btn btn-outline-dark btn-block" id="drinkSearchButton" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
		</p>

		<div class="collapse multi-collapse" id="multiCollapseExample1">
				<div class="card card-body">
						<div class="row">
							<div class="col-4">
								<div class="card">
									<img class="card-img-top rounded" id="drink_img" src="../resources/img/rumcoke.jpg" alt="Rum and Coke">
								</div>
							</div>
							<div class="col-8">
								<div class="table-responsive">
									<table class="table">
										<tr>
											<th>Name</th>
											<td>Rum and Coke<span id="d_name"></span></td>
										</tr>
										<tr>
											<td>Ingredients:</td>
											<td>
													<span id="ingredients"></span>
													<table class="table">
														<tr>
															<td>2 ounces rum</td>
														</tr>
														<tr>
																<td>4 to 6 ounces Coca-Cola</td>
														</tr>
														<tr>
																<td>Garnish: lime wedge</td>
														</tr>
													</table>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
	</body>
</html>